* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first {
  text-align: center;
  padding: 50px auto;
}

h3 {
  padding: 50px auto 10px auto;
}

.row {
  text-align: center;
}

.col-auto {
  text-align: center;
  margin: 50px auto;
}

.btn {
  background-color: grey;
  color: black;
  border: 2px solid #e7e7e7;
}

.btn:hover {
background-color: white;

}

body {
  font-family: "Open Sans", sans-serif;
}

.timeDate {
  text-align: center;
  font-size: 20px;
}

.container {
  max-width: 50%;
}

#sad-worker {
  background-image: url(../images/sad_mood.jpg);
  opacity: 80%;
}

#happy-day {
  background-color: lightblue;
  background-image: url(../images/homer1.jpeg);
  opacity: 80%;
}

.jumbotron {
  height: 400px;
  overflow: visible;
  font-family: "Oswald", sans-serif;
  background-color: lightblue;
  opacity: 80%;
}