* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding: 50px auto;
}

.row {
  text-align: center;
  padding: 50px auto;
}

.col-auto {
  text-align: center;
  margin: 50px auto;
}

.btn1 {
  background-color: grey;
  color: black;
  border: 2px solid #e7e7e7;
}

.btn1:hover {
background-color: white;

}

.btn2 {

}

.btn2:hover {

}

body {
  font-family: "Open Sans", sans-serif;
}

#timeFrame 

.container {
  max-width: 50%;
}

#sad-worker {
  background-image: url(../images/sad_mood.jpg);
  opacity: 80%;
}

#happy-day {
  background-color: lightblue;
  background-image: url(../images/homer1.jpeg);
  opacity: 80%;
}

.jumbotron {
  height: 500px;
  overflow: visible;
  font-family: "Oswald", sans-serif;
  background-color: lightblue;
  opacity: 80%;
}